
.topbar{
    height:30px;
    display: flex;
    background-image: linear-gradient(to right, rgb(41, 41, 97),grey);
}


.fa-facebook{
  color: white; 
  padding-bottom: 5px;
  margin-left: 40px;
  margin-right: 0px;
  border-color:white;
  border-width: 5px;
  padding-top: 10px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;


}



    .fa-twitter {
        border-left: 2px solid white;
  height: 1px;
        color: white; 
        padding-bottom: 20px;
        margin-left: 1px;
        border-color:white;
        padding-top: 10px;
        font-size: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;
      
      }
      .fa-instagram{
        border-left: 2px solid white;
  height: 1px;
        color: white; 
        padding-bottom: 20px;
        margin-left: 1px;
        border-color:white;
        padding-top: 10px;
        font-size: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;

      }
.fa-youtube{
    border-left: 2px solid white;
    height: 1px;
    color: white; 
    padding-bottom: 20px;
    margin-left: 1px;
    border-color:white;
    padding-top: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}
.fa-pinterest{
    border-left: 2px solid white;
    width: 80px;
    color: white; 
    padding-bottom: 20px;
    margin-left: 1px;
    border-color:white;
    padding-top: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;


}
.fa-linkedin{
    border-left: 2px solid white;
    height: 1px;
    color: white; 
    padding-bottom: 20px;
    margin-left: 1px;
    border-color:white;
    padding-top: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}
.fa-phone{
    color: white;
    padding-bottom: 20px;
    margin-left: 60px;
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    transform: rotate(90deg);
    margin-left:auto;
    margin-right:2px;

}
.num{
    color: white;
    margin-right:20px;
    margin-left:2px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.fa-envelope{
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin-left:2px;
    margin-right:8px;
    margin-top: 6px;
}
.mail{
    color: white;
    font-size: 10px;
    
    text-decoration: none;
    margin-left:0px;
    margin-right:80px;
}
.nav{
    height:50px;
    display: flex;
    background-color:rgb(19, 19, 62);
}


.nav ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: -5px;
    color: white;
    font-size: 25px;
    width:200px;
    height:60px;
    line-height: 60px;
    border-left: 1px solid #fff;
    cursor:pointer;
    text-align: center;
    font-family:calibri'
}
i{
    margin:0px 15px;
}
.nav ul li:hover{
    background: rgb(88, 88, 150);
    color: white;
    font-weight: medium;
  
    
    
}
.image{
   width:1455px;
   opacity: 0.5;
   margin-bottom: 0px;
   padding-bottom: 0px;
  
   
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    margin-top: 200px;
    opacity: 0.7;
  }
  .block2{
    height: 150px;
    display:flex;
    align-content:center ;
    background-color: rgb(71, 71, 126);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: bottom;
  }
  .launch{
    color: black;
    font-weight: bold ;
    margin-left: auto;
    padding-right: 10px;
    margin-right: 400px ;

  }
  .team{
    color: black;
    font-weight: bold;
    margin-right: 320px;
   
 

  }
 
  .time{
    color: black;
    font-weight: bold;
    margin-right: 60px;
    
    
  }
  .block3{
    height: 450px;
    align-content:center ;
    align-items: center;
    background-image: linear-gradient(to top,rgb(170, 170, 170),white);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    padding-left: 130px;
  }


  
  .aboutus{
    font-weight: bold;
    font-size: 40px;
    padding-right: 120px;
    margin-left: 100px;
    text-decoration: underline;

  }
   .next{
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;

   }
   
    
   .para{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-left: 100px;
    padding-right: 50px;

   }
   .image2{
    width: 550px;
    box-shadow: 5px 6px;
   }

   .block4{
    background-color: rgba(0, 0, 0, 0.201);
    display: flex;
    padding-left: 220px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    
    
   }
   
   .service{
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: underline;
   }
    
   .image3{
    width:300px;
    height:250px;
    margin-left: 10px;
   }

   .image4{
    width:300px;
    height:250px;
    margin-left: 50px;
    margin-top: 63px;

  
   }
   
